<nav id="nav" class="nav-hidden">

  <div id="burger" class="burger">
    <div class="burger-line"></div>
    <div class="burger-line"></div>
    <div class="burger-line"></div>
  </div>

  <div class="navigation hidden">
      <div class="menu-links">
        {% for item in site.data.nav %}
        <span class="menuItem-wrap">
          <a href="{{item.link}}" class="menu-item"><i class="{{item.icon}}"></i>
          <span class="menuHover-anim {{item.class}}">{{item.name}}</span>
        </a>
        </span>
        {% endfor %}
      </div>
      <div class="social-links ">
        
        <a href="https://www.linkedin.com/in/magnus-lidmyr-096853149/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/lidmyr93" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>

</nav>