.flex-direction-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
  h1{
    color: $color-h1;
    font-family: $font-family-h1;
    font-weight: 300;
  }
}
form {
  height: 100%;
  width: 70%;
}
label {
  height: auto;
  display: flex;
  align-items: center;
  margin: 1em 0; 
}
input[type="text"] {
  height: 40px;
}
input::placeholder{
  color: black;
}
textarea {
  height: 150px;
  resize: none;
  overflow: auto;
  padding: 10px;
}
label[for="textarea"]{
  position: relative;
  .contact-icon{
    position: absolute;
    top: 10px;
  }
}
textarea, input[type="text"]{
  width: 100%;
  background: gray;
  border: 1px solid gray;
  border-radius: 7px;
  padding-left: 25px; 
}
.contact-icon {
  position: absolute;
  padding-left: 5px;
}
.form-fields-button {
  display: block;
  position: relative;
  height: 50px;
  width: 50%;
  margin: 0 auto;
  background: gray;
  border: 1px solid gray;
  border-radius: 7px;
  font-size: 1em;
  font-weight: bold;
}
.form-fields-button i{
  position: absolute;
  left: 10px;
}
.form-fields-button i, .contact-icon {
  color: $menu-links-color;
}
#map {
  height: 40vh;
  width: 95%;
  margin-bottom: 20px;
}

@media (min-width: 768px){
  .flex-direction-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    height: 50vh;
    width: 50%;
  }
  
  label {
    height: auto;
    display: flex;
    align-items: center;
  }
  
  label {
    margin: 1em 0;
    height: auto;
  }
  input[type="text"] {
    width: 100%;
    height: 40px;
  }
  textarea {
    width: 100%;
    height: 30vh;
  }
  .contact-icon {
    position: absolute;
    padding-left: 5px;
  }
  .form-fields-button {
    display: block;
    height: 50px;
    width: 50%;
    margin: 5px auto;
  }
  #map {
    height: 100vh;
    width: 50vw;
    margin-bottom: 0;
  }
}