

/* CARD 3D styles */

body {
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .card {
    width: 400px;
    height: 150px;
    position: relative;
    background: #272829;
    border-radius: 3px;
    background-position: top center;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    z-index: 1;
  
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 8px;
      border-radius: 50%;
      left: 0;
      bottom: 0px;
      box-shadow: 0 30px 20px rgba(0, 0, 0, .3);
    }
  }
  
  .card-content {
    transform-style: preserve-3d;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    div {
      width: auto;
      display: flex;
      flex-direction: column;
      height: 70px;
      justify-content: space-between;
      align-items: center;
    }
    h1{
      font-size: 1.2em;
      color: #FFF;
    }
    .card-social-links a{
      color: #fff;
      padding: 30px;
      font-size: 1.5em;
    }
    img{
      height: 130px;
      width: 130px;
      color: #FFF;
      border-radius: 10px;
    }
  }
  .transform-3D{
    transform: translateZ(50px);
  }
  div#quad { 
    background-color: transparent; 
    font-size: 0px; 
    width: 90vw; 
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 12px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
  }
  div#quad figure { 
    margin: 0; 
    width: 100%; 
    height: 50%;
    display: inline-block; 
    position: relative; overflow: hidden; 
    border: 1px solid black;
    margin-bottom: 20px; 
    figcaption{
      position: absolute;
      bottom: 0px; 
      background-color: black;
      height: 30px;
      width: 100%;
      z-index: 10;
    }
    figcaption a{
      color: white;
      font-size: 20px;
      text-decoration: none;
    }
  }
  div#quad figure img { width: 100%; height: 100%; }
  @media (min-width: 768px){
    body {
      transform-style: preserve-3d;
      perspective: 1000px;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div#quad { 
      display: initial;
      width: 70vw; 
      height: 70vh;
    }
    div#quad figure { 
      width: 50%; 
      transition: 1s; 
      margin-bottom: 0;
    }
    div#quad figure:hover { cursor: pointer; z-index: 4; }
    div#quad figure img { width: 100%; height: 100%; }
    div#quad figure:nth-child(1) { transform-origin: top left; }
    div#quad figure:nth-child(2) { transform-origin: top right; }
    div#quad figure:nth-child(3) { transform-origin: bottom left; }
    div#quad figure:nth-child(4) { transform-origin: bottom right; }
    div#quad figure figcaption { 
      margin: 0; opacity: 0; 
      background: black; 
      color: #fff; padding: .3rem; 
      font-size: 1.2rem; 
      position: absolute; 
      bottom: 0; width: 100%;
      transition: 1s 1s opacity; 
    }
    .expanded { transform: scale(2); z-index: 5;  }
    div#quad figure.expanded figcaption { opacity: 1; }
    div#quad figure.expanded figcaption a {
       color: white;
       text-decoration: none;
      }
    div.full figure:not(.expanded) { pointer-events: none; }
  }