
.shimmer {
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    font-size: 3em;
    margin: 0 auto;
    padding: 0 140px 0 140px;
    display: inline;
    margin-bottom: 0;
    text-align: center;
    
}
.shimmer {
    text-align: center;
    color: rgba(253, 5, 5, 0.616);
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #000));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #000));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #000));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}