<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | Magnus idmyr</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="container" class="container">
      {% include header.html %}
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <script src="/assets/js/main.js"></script>
    {% if page.js %}
    <script src="{{page.js}}"></script>
    {% endif %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq-kZbqG2Ie-3uJIyYByeVJ5gYKcfpm-o&callback=initMap"
    async defer></script>
  </body>
</html>
